[submodule "OData4ObjC"]
	path = OData4ObjC
	url = https://github.com/maggix/OData4ObjC.git
[submodule "QuickDialog"]
	path = QuickDialog
	url = git@github.com:escoz/QuickDialog.git
[submodule "hoptoad-ios"]
	path = hoptoad-ios
	url = https://github.com/guicocoa/hoptoad-ios.git
[submodule "foursquare-ios-api"]
	path = foursquare-ios-api
	url = https://github.com/baztokyo/foursquare-ios-api.git
[submodule "MagicalRecord"]
	path = MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "sskeychain"]
	path = sskeychain
	url = https://github.com/samsoffes/sskeychain.git
[submodule "ShareKit"]
	path = ShareKit
	url = https://github.com/ShareKit/ShareKit.git
