<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rezzato (BS)</key>
	<array>
		<string>Rezzato</string>
		<string>Brescia</string>
	</array>
	<key>Ghedi (BS)</key>
	<array>
		<string>Ghedi</string>
		<string>Brescia</string>
	</array>
	<key>Erbusco (BS)</key>
	<array>
		<string>Erbusco</string>
		<string>Brescia</string>
	</array>
	<key>Passirano (BS)</key>
	<array/>
	<key>Castiglione delle Stiviere (MN)</key>
	<array/>
	<key>Paderno Franciacorta (BS)</key>
	<array/>
</dict>
</plist>
