<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>plastica_black</string>
	<key>2</key>
	<string>vetro_black</string>
	<key>3</key>
	<string>lattina_black</string>
	<key>4</key>
	<string>indifferenziata_black</string>
	<key>5</key>
	<string>organici_black</string>
	<key>6</key>
	<string>batterie2_black</string>
	<key>7</key>
	<string>farmaci_black</string>
	<key>8</key>
	<string>nettezzaurbana_black</string>
	<key>9</key>
	<string>carta_black</string>
	<key>10</key>
	<string>cartuccia_black</string>
	<key>11</key>
	<string>vestiti_black</string>
	<key>12</key>
	<string>lampadina_black</string>
</dict>
</plist>
